#containerorg{ 
    border: 5px solid  #0f2349;
    height:500px;
    width:400px;
    border-radius: 25px;
    margin-top: 100px;
    margin-left:38% ;
}
#primage{
    border: 2px solid #788fba ;
    border-radius: 50px;
    width: 50px;
    height:50px;
    margin-top: 30px;
    /* position: relative; */
    margin-left: 42%;
    background-image: url("images.png");
}
#profile{
    font-weight: bold;
    margin-top: 20px;
    /* position: relative; */
    color: #0f2349;
    font-size:25px;
}
#innercontainerorg{
    margin-left:10px;
    /* position: fixed; */
    margin-top: 70px;
    color: #0f2349;
}
#Collegename,#CollegeCode1,#phone,#email2{
    /* background-color: #788fba; */
    width: 250px;
    /* position: fixed; */
    
}
